# Ignore the Python Virtual Environment directory
venv/

# Files to ignore in the BackEnd directory
/BackEnd/data_for_analysis.json
/BackEnd/scraper_session.session
/BackEnd/telegram_posts_raw.csv

# General Python-related ignored files (good practice)
__pycache__/
*.pyc
